/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/box-shadow";


$font-stack: 'Roboto Condensed', sans-serif;
$primary-color: #892728;
$secundary-color: #f9f9f1;
$third-color: #f0eddc;
$line-color: #b3b3b5;

body{
	font: 100% $font-stack;
	color: black;
}
header{
text-align: center;
background-color: $primary-color;
border-bottom: 2px solid $line-color;
padding: 2%;
color: white;
@include box-shadow(default, 1px 5px 10px $line-color);
	h1{
		font-size: 36pt;
	}
}

nav{
	padding-top:7px;
	text-align: center;
}